## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [ ]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"
x = x.upper()
x = x.capitalize()
x = x.replace("  ", "")
x = x.replace(" ", "")
print(x)

Diclorodifeniltricloroetanodichlorodiphenyltrichloroethane

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [ ]:
A = "word"; B = 15; C = 3.14; D = "list"
print(A + " " + str(B) + " " + str(C) + " " + D)

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [ ]:
print("Enter weight and height (seperated by space):")
w, h = input().split()
w = (float(w))
h = (float(h))
bmi = w / (h**2)
print("\nThe resulting BMI is " + str(bmi))

Enter weight and height (seperated by space):
68.4 1.71

The resulting BMI is 23.39181286549708

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [ ]:
print("Enter weight and height (seperated by space):")
w, h = input().split()
w = (float(w))
h = (float(h))
bmi = w / (h**2)

if bmi < 18.5 :
  print("Underweight")
elif bmi >= 18.5 and bmi <= 24.9 :
  print("Normal weight")
elif bmi >= 25 and bmi <= 29.9 :
  print("Pre-obesity")
elif bmi >= 30 and bmi <= 34.9 :
  print("Obesity class I")
elif bmi >= 35 and bmi <= 39.9 :
  print("Obesity class II")
else :
  print("Obesity class III")

Enter weight and height (seperated by space):
68.4 1.71
Normal weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [ ]:
print("Enter any number to calculate its factorial:")
zahl = int(input())
factorial = 1

if zahl > 0 :
  for i in range(1, zahl+1):
    factorial = factorial*i
    print("calculating..." + "\n" + "The factorial of " + str(zahl) + " is " + str(factorial))
else :
  print ("calculation of factorial not possible")

Enter any number to calculate its factorial:
4
calculating...
The factorial of 4 is 1
calculating...
The factorial of 4 is 2
calculating...
The factorial of 4 is 6
calculating...
The factorial of 4 is 24

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [ ]:
print("Enter a number of integers:")
a_num = int(input())
total = 0

while a_num != -1:
  total = total + a_num
  a_num = int(input())
print(total)

Enter a number of integers:
45
76
4
8
3
-1
136

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [ ]:
pers_x = {"first name":"Max Müller", "amount of hours worked":520, "salary per hour":12.45}
total_salary = pers_x["amount of hours worked"] * pers_x["salary per hour"]
ts_fo = "{:.2f}".format(total_salary)
print("The total salary of " + pers_x["first name"] + " is " + str(ts_fo))

The total salary of Max Müller is 6474.00

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [ ]:
print("Enter values to define A, B and C:")
A = float(input())
B = float(input())
C = float(input())

Enter values to define A, B and C:
4
8
5

    a) the area of the triangle rectangle with A as the base and C as the height.

In [ ]:
tri = (C*A)/2
print("The area of the triangle is " + str(tri))

The area of the triangle is 10.0

    b) the area of the circle of radius C. (pi = 3.14159)

In [ ]:
circ = 3.14159*(C**2)
print("The area of the circle is " + str(circ))

The area of the circle is 78.53975

    c) the area of the trapezoid that has A and B for bases and C for height.

In [ ]:
trape = ((A+B)/2)*C
print("The area of the trapezoid is " + str(trape))

The area of the trapezoid is 30.0

    d) the area of the square that has side B.

In [ ]:
squ = B**2
print("The area of the square is " + str(squ))

The area of the square is 64.0

    e) the area of the rectangle that has sides A and B.

In [ ]:
rec = A * B
print("The area of the rectangle is " + str(rec))

The area of the rectangle is 32.0

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [ ]:
print("Enter values to define a, b and c:")
a = float(input())
b = float(input())
c = float(input())

import cmath
discr = (b**2) - (4*a*c)

root1 = (-b-cmath.sqrt(discr))/(2*a)
root2 = (-b+cmath.sqrt(discr))/(2*a)

if discr > 0 :
  print("The roots are " + str(root1) + " " + str(root2))
else :
  print("There are no real roots")

Enter values to define a, b and c:
1
7
7
The roots are (-5.7912878474779195+0j) (-1.20871215252208+0j)

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [ ]:
print("Enter four coordinates for two geographical points:")
x_1 = float(input())
x_2 = float(input())
y_1 = float(input())
y_2 = float(input())

print("The coordinates are:" + "\n" + str(x_1) + "°N " + str(x_2) + "°E\n" + str(y_1) + "°N " + str(y_2) + "°E")

dis = cmath.sqrt((x_1 - x_2)**2 + (y_1 - y_2)**2)
print("The distance between these points is " + str(dis))

Enter four coordinates for two geographical points:
48.2084
16.3735
51.1662
13.4715
The coordinates are:
48.2084°N 16.3735°E
51.1662°N 13.4715°E
The distance between these points is (49.33914537261464+0j)

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [ ]:
print("Enter two coordinates seperated by space: ")
X, Y = input().split()
X = (float(X))
Y = (float(Y))

print("This point's location is:")
if X > 0 and Y > 0 :
  print("q1")
if X < 0 and Y > 0 :
  print("q2")
if X < 0 and Y < 0 :
  print("q3")
if X > 0 and Y < 0 :
  print("q4")
if X == 0 and Y != 0 :
  print("y-axis")
if X != 0 and Y == 0 :
  print("x-axis")
if X == 0 and Y == 0 :
  print("origin")

Enter two coordinates seperated by space:
0 0
This point's location is:
origin

11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [ ]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [ ]:
print("Enter a country calling code:")
ccd = str(input())

check = df[df["Country calling code"]==ccd]

print("\nThis country calling code belongs to\n" + str(check["Country"]))

Enter a country calling code:
43

This country calling code belongs to
0    Austria
Name: Country, dtype: object

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [ ]:
print("Enter 6 numbers: ")
p = float(input()); o = float(input()); u = float(input()); t = float(input()); r = float(input()); q = float(input())
nums = [o, p, u, t, r, q]
aver = (sum(nums))/6

start = 0
if o > 0 :
  start = start + 1
if p > 0 :
  start = start + 1
if u > 0 :
  start = start + 1
if t > 0 :
  start = start + 1
if r > 0 :
  start = start + 1
if q > 0 :
  start = start + 1

print("The number of positive values entered is " + (str(start)))
print("The average of the values is " + str(aver))

Enter 6 numbers:
3
5
2
5
-323
4
The number of positive values entered is 5
The average of the values is -50.666666666666664

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [ ]:
print("Enter an integer:")
N = int(input())

sqr = []
for i in range (1, N):
  if (i % 2) == 0:
    sqr.append(i*i)
if (N % 2) == 0:
   sqr.append(N*N)
print("square output:")
for item in sqr:
  print(item)

Enter an integer:
21
square output:
4
16
36
64
100
144
196
256
324
400

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [ ]:
z = input("Enter a number: ")
z = int(z)

if (z % 2) == 0 and z != 0 :
  print("This number is even.")
elif z == 0 :
  print("null")
else :
  print("This number is odd.")

if z > 0 :
  print("This number is positive.")
elif z == 0:
  print("null")
else :
  print("This number is negative.")

Enter a number: 65764356
This number is even.
This number is positive.

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [ ]:
str_inp = input("Enter six numbers seperated by spaces:\n")
nums= [int(x) for x in str_inp.split()]

count = len(nums)

for outer in range(count - 1):
  for i in range(count - outer - 1):
    if nums[i] > nums[i + 1]:
      nums[i],nums[i + 1] = nums[i + 1],nums[i]
res = str(nums)
res = res.replace(",", " ")
print("Numbers sorted in ascending order:\n" + str(res))

Enter six numbers seperated by spaces:
4 -76 3 0 -333 2
Numbers sorted in ascending order:
[-333  -76  0  2  3  4]